nav {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: white;
  

}
body {
    background-color:rgb(4, 11, 191);
    margin-top: 60px
}
main { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    align-content: flex-end

}
main1 {
    font-size: 80px;
    font: verdana;
    color: white;
    display: inline-block;
    margin-top: 0px;
    width: 1100px;
    height:100px;
    margin-left: 600px;
    font-weight: bold

}

main2 {
    color: white;
    width: 790px;
    height: 100px;
    font-size: 25px;
    margin-top: 0px;
    margin-left: 650px;
    text-align: center
}s
#subscribe {
    border-radius: 40% white


    
}
mainpic {
    margin-top: 200px;
    margin-left: 980px
}

main3 {
    color: blue;
    border-radius: 40%;
    
    text-align: center;
    background-color: white;
    width: 350px;
    height: 100px;
    margin-left: 800px;
    margin-top: 30px;
    padding: 10px

}
.space {
    white-space: pre
}